@{
    ViewBag.Title = "Home Page";
}


<img src="~/Content/images/5.jpg" class="img-fluid" alt="Responsive image">


<section class="about-section mt-5" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">HUMANITARIAN AID</h2>
            <h3 class="section-subheading text-muted">
                Your Donation Can Change Someone's Life
            </h3>
        </div>
        
        <section id="about" class="about">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch" data-aos="fade-right">
                        <img src="~/Content/images/1.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
                         data-aos="fade-left">
                        <h3> A small number of charities that do an incredible amount of good.</h3>

                        <p>You might think about charity as something you do with the extra change you find lying around, or by supporting a friend running in a local race. That's how we used to feel — until we learned how much even a modest amount of charity can accomplish when given to the right organizations.</p>
                      

                     
                    </div>
                </div>

            </div>
        </section>
       
        <section class="team-section mt-5" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Core team members of Humanitarian Aid Organization.</h3><br>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="team-member box">                          
                            <div class="content">
                                <h4 class="text-dark">Rumana Akter</h4>
                                <p class="text-muted">
                                   Contact: rumana@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>  <div class="col-lg-3">
                        <div class="team-member box">
                            
                            <div class="content">
                                <h4 class="text-dark">Asifur Rahim</h4>
                                <p class="text-muted">
                                   Contact: asif@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-3">
                        <div class="team-member box">                         
                            <div class="content">
                                <h4 class="text-dark">Sadman Sadik </h4>
                                <p class="text-muted">
                                    Contact: sadman@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="team-member box">
                            
                            <div class="content">
                                <h4 class="text-dark">Ayesha Afroze</h4>
                                <p class="text-muted">
                                    Contact: ayesha@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </section>
    